extends layout-onepoint

block content

	div(class="page-invoking")
		div(class="page-invoking-header")
			h3 Invocation de l'élément '#{node.id}#{name}' de #{processName}
		div(class="page-invoking-content")
			table.table.table-striped
				thead
					tr
						th(scope='col') Nom
						th(scope='col') Valeur

				tbody
					each v in vars
						tr
							td #{v.key}
							td #{v.value}
	
		
		div(class="page-invoking-form")
			form(name='InvokeForm',action="/invokeItem",method="post")
				input(type='hidden',name='itemId',id='itemId',value=`${id}`)

				each field in fields
					.mb-3
						label.form-label(for="select1") #{field.label}
							if (field.type=='enum')
								select#select1.form-select(name=`${field.id}`)
									each v in (field['$children'])
										if (v.$type=='camunda:value')
											if (v.id == field.defaultValue)
												option(value=`${v.id}` selected) #{v.name}
											else
												option(value=`${v.id}`) #{v.name}

							else if (field.type=='date')
								input(name=`${field.id}` type='date')
							else
								input(name=`${field.id}`)

				
				.mb-3
					button.btn.btn-primary(type="submit") Envoyer
